.button {
  display: block;
  max-width: 330px;
  padding: 18px 0;
  border-radius: 5px;
  background: $primary-yellow;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-decoration: none;

  &--secondary {
    max-width: unset;
    width: fit-content;
    padding: 18px 30px;
    margin-top: 5px;
  }

  &--white {
    background-color: #fff;
  }

  @media (min-width: $bp-md) {
    padding: 21px 0;
    font-size: 18px;
    line-height: 18px;

    &--secondary {
      max-width: 330px;
      width: 100%;
      padding: 21px 0;
    }

    &:hover {
      background: #f8d612;
    }

    &--white:hover {
      background-color: rgb(211, 211, 211);
    }
  }

  &:active {
    background: #f5d104;
  }
  &--white:active {
    background-color: rgb(185, 183, 183);
  }
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.border-button {
  display: block;
  margin: 0 auto;
  padding: 17px 75px;
  border: 1px solid $primary-yellow;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
}

button {
  color: #000;
}
