.dropdown {
  position: relative;
  max-width: 330px;
  background: $input-grey;
  padding: 0 15px 0 20px;
  border-radius: 5px;
  cursor: pointer;

  .dropdown-label {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 10px;
    line-height: 12px;
  }

  .item,
  .choosen-item {
    position: relative;
    display: flex;
    padding: 17px 0;
  }

  .choosen-item {
    padding: 25px 0 9px;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 10px;
      height: 6px;
      background: url("/assets/icons/contentIcons/select-icon.svg") no-repeat;
      transition: transform 0.3s;
    }
  }

  .items-list {
    display: none;
  }

  .item-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .item-text {
    font-size: 15px;
    line-height: 16px;
    font-weight: 500;
  }

  &--active {
    background: #fff;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);

    .choosen-item {
      padding: 25px 0 9px;

      &::after {
        transform: translateY(-50%) scale(-1);
      }
    }

    .items-list {
      display: block;
    }
  }
}
