.noUi-target {
  position: relative;
  border: none;
  box-shadow: none;
  height: 20px;
  background: none;
  margin-bottom: 20px;

  * {
    -webkit-tap-highlight-color: transparent;
  }
}

.noUi-base {
  .noUi-connects {
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    border-radius: 2px;
    background: #eee;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 2px;
      position: absolute;
      top: 0;
      background: #c4c4c4;
      z-index: 2;
    }

    &::before {
      left: 30%;
    }

    &::after {
      left: 60%;
    }
  }

  .noUi-connect {
    height: 2px;
    border-radius: 100px;
    background: $primary-yellow;
  }
}

.noUi-horizontal {
  .noUi-origin {
    height: 20px;
    cursor: pointer;
  }

  .noUi-handle {
    width: 20px;
    height: 20px;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: $primary-yellow;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-pips-horizontal {
    position: absolute;
    top: 20px;
    padding: 0;
    height: 15px;

    .noUi-marker {
      display: none;
    }

    .noUi-value {
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: 2px;
      font-size: 10px;
      font-weight: 600;
      line-height: 15px;
      color: #c9c9c9;
      cursor: pointer;
    }

    .first-pip,
    .last-pip {
      top: 0;
      margin: 0;
    }

    .first-pip {
      transform: translateX(-20%);
    }

    .last-pip {
      transform: translateX(-80%);
    }

    @media (min-width: $bp-tab) {
      top: 25px;

      .noUi-value {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
