.contentpage {
  @media (min-width: $bp-md) {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 80px;
      left: -100px;
      width: 1080px;
      height: 990px;
      background: url("/assets/bg/blur-web.png") no-repeat;
      background-size: contain;
    }
  }

  .content-wrapper {
    padding-top: 30px;
    padding-bottom: 75px;
  }

  h1 {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 800;
    line-height: 30px;

    @media (min-width: $bp-tab) {
      margin-bottom: 50px;
      font-size: 35px;
      line-height: 45px;
    }
  }

  .page-sub-title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;

    @media (min-width: $bp-tab) {
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 40px;
    }
  }

  main {
    position: relative;
    margin-top: 10px;
  }

  .button {
    margin-left: auto;
  }

  .content {
    max-width: 800px;
    margin: 0 auto;
  }
}
