.formpage,
.application-page {
  .title-wrapper {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
  }

  h1 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }

  .sub-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .content-wrapper {
    border-radius: 10px;
  }

  .forgot {
    display: block;
    width: fit-content;
    margin: 25px 0 0 auto;
    font-size: 15px;
    line-height: 16px;
    color: #000;
  }

  .button {
    max-width: unset;
    width: 100%;
    margin-top: 5px;
  }

  .button--white {
    position: relative;
    max-width: 290px;
    background: rgba(#fff, 0.9);
    margin: 30px auto 0;
    z-index: 2;

    &:active {
      background: #fff;
    }
  }

  .new-password-form {
    display: none;
  }

  @media (min-width: $bp-lg) {
    .title-wrapper {
      padding-left: 75px;
    }

    h1 {
      margin-bottom: 10px;
      font-size: 35px;
      line-height: 45px;
    }

    .sub-title {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 26px;
    }

    .forgot {
      margin: 0 0 0 auto;
      padding-top: 10px;

      &:hover {
        color: $primary-pink;
      }
    }

    .button {
      margin: 0;
      padding: 17px 30px 17px 30px;
      font-size: 18px;
      line-height: 16px;
      height: 55px;
    }

    .button--white {
      margin: 30px auto 0;
      padding: 0 30px;
      line-height: 55px;

      &:hover {
        background: rgba(#fff, 0.95);
      }

      &:active {
        background: #fff;
      }
    }
  }
}
