.profile-page {
  @media (max-width: $bp-mob) {
    display: flex;
    flex-direction: column;

    header {
      width: 100%;
    }

    main {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-height: calc(100vh - 50px);
    }

    .content-wrapper {
      width: 100%;
      flex: 1 1 auto;
    }
  }

  .content-wrapper {
    border-radius: 0;
  }

  .status-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .status-icon {
      width: 30px;
      height: 30px;
    }

    h2 {
      padding-left: 10px;
      font-size: 15px;
      font-weight: 700;
      line-height: 16px;
    }
  }

  .story-title {
    opacity: 0.5;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
  }

  .table-row {
    display: grid;
    grid-template-columns: 75px 75px 1fr;
    column-gap: 10px;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid rgba(#000, 0.05);
  }

  .table-col {
    font-size: 12px;
    line-height: 16px;

    .amount {
      font-weight: 700;
    }

    .status {
      &--declined {
        color: #fda700;
      }

      &--ok {
        background: -webkit-linear-gradient(-90deg, #01d06d 0%, #00c2ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &--error {
        background: -webkit-linear-gradient(-90deg, #ed1941 0%, #ff007a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .sum-text,
  .info-text {
    span {
      margin-left: 5px;
      font-weight: 700;
    }
  }

  .sum-text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
  }

  .loan-info {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -15px;
      bottom: 0;
      width: calc(100% + 30px);
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .info-text {
    margin-bottom: 20px;
    opacity: 0.5;
    font-size: 12px;
    line-height: 15px;
  }

  .item-title {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .dropdown {
    margin-bottom: 20px;
  }

  .docs-container {
    margin: 0 -15px;
    padding: 0 15px;
    overflow-x: auto;
  }

  .docs-list {
    display: flex;
    width: max-content;

    a {
      display: flex;
      max-width: 225px;
      position: relative;
      padding-left: 50px;
      margin-right: 5px;
      font-size: 12px;
      line-height: 15px;

      &::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
    }
  }

  .button {
    width: 100%;
    margin: 30px auto 0;
  }

  .declined {
    .status-title {
      margin-bottom: 10px;
    }
  }

  .date-text {
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 12px;
    line-height: 16px;

    .date-days {
      display: block;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      background: -webkit-linear-gradient(-90deg, #01d06d 0%, #00c2ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .empty {
    padding-bottom: 100px;

    .status-title {
      margin-bottom: 24px;

      h2 {
        padding-left: 0;
      }
    }

    .button-block {
      position: absolute;
      width: 100%;
      padding: 10px 0;
      left: 0;
      border-top: 1px solid #f4f4f4;
      bottom: 0;
    }

    .button {
      margin: 0 auto;
    }

    @media (min-width: $bp-md) {
      display: grid;
      grid-template-areas:
        "title"
        "button"
        "table";

      .status-title {
        display: block;
        grid-area: title;
        text-align: center;
        margin-bottom: 30px;
      }

      .transaction-story {
        grid-area: table;
      }

      .button-block {
        grid-area: button;
        position: relative;
        border: none;
        padding: 0;
        margin-bottom: 50px;
      }
    }
  }

  .inprogress {
    .loan-body {
      background: $green-gradient;
      border-radius: 15px;
      padding: 25px 20px 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 17px;
    }

    .loan-title,
    .loan-amount {
      text-align: center;
    }

    .loan-title {
      margin-bottom: 6px;
    }

    .loan-amount {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
    }

    .loan-info {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-top: 1px solid rgba(#000, 0.1);
      border-bottom: 1px solid rgba(#000, 0.1);

      &:after {
        display: none;
      }
    }

    .info-title {
      margin-bottom: 5px;
    }

    .info-amount,
    .remaining-title {
      font-weight: 700;
    }

    .remaining-title {
      margin-bottom: 5px;
    }

    .button {
      margin-top: 20px;
    }

    .transaction-story {
      display: none;
    }

    @media (min-width: $bp-md) {
      display: grid;
      grid-template-columns: 1fr 360px;
      gap: 35px;

      .loan-body {
        border-radius: 30px;
        padding: 30px;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 22px;
      }

      .loan-title,
      .loan-amount {
        text-align: left;
      }

      .loan-title {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 24px;
      }

      .loan-amount {
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 61px;
      }

      .loan-info {
        padding: 30px 0;
        margin-bottom: 30px;
      }

      .loan-info__item {
        display: flex;
      }

      .info-title {
        margin: 0 10px 0 0;
      }

      .remaining-title {
        margin-bottom: 10px;
      }

      .button {
        margin: 30px 0 0 auto;
      }

      .border-button {
        margin: 0 30px 0 auto;
        padding: 22px 70px;
        font-size: 18px;
      }

      .transaction-story {
        display: block;

        .table-row {
          grid-template-columns: 100px 90px 1fr;
        }
      }
    }
  }

  @media (min-width: $bp-md) {
    .content-wrapper {
      border-radius: 0px 10px 10px 10px;
      min-height: 600px;
    }

    .status-title {
      margin-bottom: 40px;

      h2 {
        padding-left: 15px;
        font-size: 23px;
        line-height: 27px;
      }
    }

    .transaction-story {
      max-width: 570px;
      margin: 0 auto;
    }

    .table-row {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .table-col {
      font-size: 14px;
      line-height: 20px;
    }
  }

  @media (min-width: $bp-tab) {
    .content-wrapper {
      padding: 40px 55px;
    }

    .success-body {
      padding: 0 45px;
    }

    .loan-info {
      &::after {
        left: 0;
        width: 100%;
      }
    }

    .docs-list {
      a {
        padding: 10px 20px 10px 50px;
        margin-right: 15px;
      }
    }

    .checkbox-container {
      max-width: 280px;
    }

    .button {
      margin-left: 0;
    }

    .date-text {
      margin-bottom: 40px;
      padding-left: 45px;
      font-size: 16px;
      line-height: 20px;

      .date-days {
        display: inline;
        margin-left: 5px;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  .contracts-list {
    max-width: 800px;
    margin: 0 auto;
  }
}
